body{
    margin: 0;
    padding: 0;
}
  
    .menu {
        height: 34px;
        width: 100%;
    }
    .menu a img{
        width: 100%;
        height: 100%;
    }
    *{
        padding: 0;
        margin: 0;
      }
    /* ----------------------------------------------------------- */
    .menu2{
        height: 101px;
        width: 1200PX; 
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .logo {
        flex: 25%;
        /* width: 255px; */
        height: 101px;
        float: left;
        font-weight: bolder;  
        padding: 0 15px 0 15px;
    }
    .box{
        /* width: 570px; */
        flex: 50%;
        height: 63px;
        padding:28px 0 10px 0;
    }
    .form{
        width: 570px;
        height: 37px;
    
    }
    .search{
        display: flex;
        border: 2px solid #ffb0bd;
        border-radius: 8px;
        width: 568px;
        height: 34px;
        align-items: stretch;
    }
    .search1{
        border: none;
        width: 504px;
        height: 22px;
        padding: 6px 12px 6px 12px;
        background: none;
        outline: none;
        font-family:  'Nunito-Bold';
    }
    .search2{
        width: 41.091px;
        height: 34px;
        border: none;
        border-radius: 0px;
    }
    .search3{
        border: none;
        color: #fff;
        background-color: #ffb0bd;
        padding: 4.800px 13.120px;
        width: 100%;
        height: 100%;
    }
    .research {
        display: flex;
        margin-top: 3px;
        width: 570px;
        justify-content: space-between;
    }
    
    .research p {
        display: block;
        margin-bottom: 0;
    }
    
    .research a {
        font-size: 16px;
        color: #000;
        padding: 0 5px;
        font-family: 'Nunito-Regular';
        text-align: center;
    }
    
    .research a:hover{
        color: #ffb0bd;
    }
    p{
        margin-top: 0;
    }
    a{
        text-decoration: none;
    }
    /* ------------------------------------------------------------- */
    
    .login{
      flex: 20%;
      height: 102px;
      padding: 0 15px 0 15px;
    }
    
    .login1{
      display: flex;
      height: 85px;
      align-items: center !important;
      padding-bottom: 16px;
    }
    .login2{
      margin: 0;
      width: 200px;
      height: 24px;
      padding: 10px 15px 0 0;
      font-family: 'Nunito-Bold';
      font-size: 16px;
      text-align: center;
    }
    .login2 li{
      display: inline;
      color: #000;
    }
    .login2 li a{
      font-family:'Nunito-Bold';
      font-size: 16px;
      color: #000;
      padding: 0 5px;
    }
    .login2 li a:hover {     
      color: #ffb0bd;
    }
    .account {
      position: relative;
      display: inline-block;
      padding: 10px 15px 0 0;
      width: 200px;
      font-size: 16px;
      text-align: center;
      font-family:'Nunito-Bold';  
    }
    
    .account-link {
        display: block;
        text-decoration: none;
        color: #000;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        width: 200px;
        z-index: 1;
        border: 1px solid #ddd;
    }
    
    .account:hover .dropdown-content {
        display: block;
    }
    
    .account .dropdown-content li {
        list-style-type: none;
        margin: 5px 0;
    }
    
    .account .dropdown-content li a {
        text-decoration: none;
        color: #333;
    }
    
    .account .dropdown-content li a:hover {
        color: #ffb0bd;
    }
    
    .count-cart{
      position: static;
      display: block;
      padding: 10px 10px 0 10px;
    }
    .count-cart-icon{
      width: 20px;
      height: 29px;
      background: url(/anh/cart_icon.png)center center no-repeat;
      background-size: 100%;
      position: relative;
      cursor: pointer;
      margin-top: 1px;
    }
    
    /*-----------------------------------------------------------------*/
    .menu3{
        margin-bottom: 10px;
    }
    .menu3_1-container {
        width: 1165px;
        font-family: 'sans-serif';
        margin: 0 auto;
    }
    
    .menu3_1 {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    .menu3_1-item {
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid #ffb0bd;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .menu3_1-item a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }
    
    .menu3_1-item:hover {
        background-color: #e56266;
    }


    /* --------------------test--------------------- */
  .mains{
      margin: 15px 0;
  }
  .container {
      max-width:1200px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
  }
  
  .u1{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      list-style: none;
      padding: 0;
      margin-left: 15px;
  }
  .ll{
      list-style: none;
      font-weight: 400;
      font-size: 18px;
      font-family: 'Nunito-Regular';
      padding-right: 0.5rem;
  }
  .ll a{
  color: #000;
  }
  .ll+.ll::before{
  content: "\3e";
  font-size: inherit;
  }


  .blogdetail{
    font-family: 'Nunito-Regular';
    margin-left: 15px;
  }

  .blogimgdt{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .blogimgdt img{
    display: block;
    margin: auto;
  }
  .content{
    margin-bottom: 10px;
  }
  .content h3{
    margin-bottom: 10px;
  }



























  
  
  /* ------------------phần cuoois----------------------- */
  footer{
    background-color: #ffb0bd;
    color: #fff;
    width: 100%;
    height: 365px;
  }
  
  .end{
    padding: 30px 0;
    width: 100%;
    height: 250px;
  }
  .cont1{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
  }
  .cont2{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 250px;
  }
  .cont3{
    font-family: 'Nunito-Bold';
    font-size: 20px;
    flex: 1;
    max-width: 20%;
  }
  .c1{
    margin-bottom: 15px;
    display: inline-flex;
    align-items: flex-end;
  }
  .icon{
    float: left;
    margin-bottom: 35px;
  }
  .font{
    padding-left: 10px;
    color: #fff;
    float: left;
    font-size: 24px;
  }
  .big1{
    width: 107px;
    height: 25px;
    font-size: 20px;
  }
  .icon2{
    font-family: 'Nunito-Bold';
    font-size: 20px;
    color: #fff;
  }
  .icon2 p{
    font-size: 18px;
    margin-bottom: 10px;
  }

  .cont3_1{
    font-family: 'Nunito-Bold';
    flex: 1;
    max-width: 20%;
    padding: 0 15px;
  }
  .t1{
    font-size: 17px;
    line-height: 1.6;
    font-family: 'Nunito-Bold';
    width: 255px;
    height: 134px;
  }
  .cont3_2{
    font-family: 'Nunito-Bold';
    flex: 1;
    max-width: 40%;
    padding: 0 15px;
  }
  .cont3_3{
    position: relative;
    flex: 1;
    max-width: 20%;
    padding: 0 15px;
  }
  .cont3_3_1{
    display: flex;
    margin-top: 15px;
    width: 150px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .cont3_3_1 a{
    width: 30px;
    height: 30px;
  }
  .cont3_3_1 img{
    width: 30px;
    height: 30px;
  }
  .t2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 250px;
    height: 100px;
  }
  .t2 img{
    width: 100%;
    height: 100%;
  }
  .end1{
    padding: 15px 0; 
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color:#fff ;
    text-align: center;
    width: 100%;
    height: 24px;
    margin: 0;
  }