.container {
    width: 90%;
    margin: auto;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    font-size: 24px;
    color: #333;
}
/* Định dạng cho table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}