body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito-Bold';
  list-style: none;
}

header {
  margin: 0;
  padding: 0;
}

.menu {
  height: 34px;
  width: 100%;
}

.menu a img {
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------------------- */
.menu2 {
  height: 101px;
  width: 1200PX;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.logo {
  flex: 25%;
  /* width: 255px; */
  height: 101px;
  float: left;
  font-weight: bolder;
  padding: 0 15px 0 15px;
}

.box {
  /* width: 570px; */
  flex: 50%;
  height: 63px;
  padding: 28px 0 10px 0;
}

.form {
  width: 570px;
  height: 37px;

}

.search {
  display: flex;
  border: 2px solid #ffb0bd;
  border-radius: 8px;
  width: 568px;
  height: 34px;
  align-items: stretch;
}

.search1 {
  border: none;
  width: 504px;
  height: 22px;
  padding: 6px 12px 6px 12px;
  background: none;
  outline: none;
  font-family: 'Nunito-Bold';
}

.search2 {
  width: 41.091px;
  height: 34px;
  border: none;
  border-radius: 0px;
}

.search3 {
  border: none;
  color: #fff;
  background-color: #ffb0bd;
  padding: 4.800px 13.120px;
  width: 100%;
  height: 100%;
}

.research {
  display: flex;
  margin-top: 3px;
  width: 570px;
  justify-content: space-between;
}

.research p {
  display: block;
  margin-bottom: 0;
}

.research a {
  font-size: 16px;
  color: #000;
  padding: 0 5px;
  font-family: 'Nunito-Regular';
  text-align: center;
}

.research a:hover {
  color: #ffb0bd;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* ------------------------------------------------------------- */

.login {
  flex: 20%;
  height: 102px;
  padding: 0 15px 0 15px;
}

.login1 {
  display: flex;
  height: 85px;
  align-items: center !important;
  padding-bottom: 16px;
}

.login2 {
  margin: 0;
  width: 200px;
  height: auto;
  font-family: 'Nunito-Bold';
  font-size: 16px;
  text-align: center;
}

.login2 li {
  display: block;
  color: #000;
  height: 25px;
  padding-top: 5px;
}

.login2 li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0 5px;
}

.login2 li a:hover {
  color: #ffb0bd;
}

.account {
  position: relative;
  display: inline-block;
  padding: 10px 15px 0 0;
  width: 200px;
  font-size: 16px;
  text-align: center;
}

.account-link {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  width: 200px;
  z-index: 1;
  border: 1px solid #ddd;
}

.account:hover .dropdown-content {
  display: block;
}

.account .dropdown-content li {
  list-style-type: none;
  margin: 5px 0;
}

.account .dropdown-content li a {
  text-decoration: none;
  color: #333;
}

.account .dropdown-content li a:hover {
  color: #ffb0bd;
}



.count-cart {
  position: static;
  display: block;
  padding: 10px 10px 0 10px;
}

.count-cart-icon {
  width: 20px;
  height: 29px;
  background: url(/anh/cart_icon.png)center center no-repeat;
  background-size: 100%;
  position: relative;
  cursor: pointer;
  margin-top: 1px;
}








/*-----------------------------------------------------------------*/
.menu3 {
  margin-bottom: 10px;
}

.menu3_1-container {
  width: 1165px;
  font-family: 'sans-serif';
  margin: 0 auto;
}

.menu3_1 {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu3_1-item {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ffb0bd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu3_1-item a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.menu3_1-item:hover {
  background-color: #e56266;
}



/* --------------------test--------------------- */


.slide {
  /* position: relative; */
  display: block;
  width: 100%;
  overflow: hidden;
  height: 360px;
}

.v {
  margin: 0 -4px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 360px;
}

.v1 {
  padding: 0 0 0 5px;
  flex: 75%;
  width: 100%;
  height: 360px;
  margin-right: 10px;
}

.img {
  width: 100%;
  height: 360px;
}

.img img {
  width: 100%;
  height: 360px;

}

.v2 {
  padding: 0 0 0 5px;
  flex: 25%;
  max-width: 318px;
  width: 100%;
  height: 360px;
}

.v2-2 {
  margin-bottom: 10px;
  width: 320px;
  height: 175px;
}

.v2-2 img {
  width: 320px;
  height: 175px;
}

/* ---------------heets phaanf slide----------- */


.main {
  width: 100%;
  height: auto;
  margin-top: 10px;
  font-family: 'Nunito-Bold';
}

.main1 {
  width: 1300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.main2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.main3 {
  flex: 0 0 100%;
  flex-wrap: wrap;
  margin-top: 70px;
  max-width: 100%;
  padding: 0 15px;
  height: auto;
  box-sizing: border-box;
}

.main3 h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 30px;
  color: #000;
  font-family: 'Nunito-ExtraBold';
  margin: 0 0 30px 0;
}

.main3 h2 a {
  color: #000;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
}

ul.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

ul.product li {
  flex: 1;
  max-width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: auto;
}

ul.product li img {
  max-width: 100%;
  height: 280px;
}

ul.product li .product-top {
  position: relative;
  overflow: hidden;
  /* aanr mua ngay ddi */
}

ul.product li .product-top .product-thumb {
  display: block;
}

ul.product li:hover .product-top .product-thumb img {
  filter: opacity(80%);
}

ul.product li .product-top .product-thumb img {
  display: block;
  /* bor khoangr cachs giuawx anhr vaf mua ngay */
}

ul.product li .product-top a.buy-now {
  background-color: #333333;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  display: block;
  color: aliceblue;
  padding: 10px 0;
  position: absolute;
  bottom: -43px;
  width: 100%;
  /* hiệu ứng chuyển Mua ngay lên trên chậm */
  transition: 0.26s ease-in-out;
  /* làm mờ mua ngay */
  opacity: 0.85;
}

ul.product li:hover a.buy-now {
  bottom: 0;
}

ul.product li .product-info {
  padding: 10px 0;
  height: auto;
}

ul.product li .product-info a {
  display: block;
  text-decoration: none;
}

ul.product li .product-info a.product-name {
  color: #939393;
  padding: 3px 0;
  width: 270px;
  height: 50px;
  font-size: 15px;
}

ul.product li .product-info a.product-name:hover {
  color: #ffb0bd;
}

ul.product li .product-info .product-price {
  color: #000;
  padding: 10px 0;
  font-size: 17px;
  font-weight: 600;
}

.xemt {
  width: 100%;
  height: auto;
  text-align: center;
}

.xemt1 {
  width: auto;
  height: auto;
  display: inline-flex;
  color: #fff;
  background-color: #ffb0bd;
  border-color: #ffb0bd;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 16px;
  margin-top: 5px;
}



.main5 {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 45px 0;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}



/* ------------------phaanf chur ddef moiw-------------- */
.main4 {
  flex: 0 0 100%;
  flex-wrap: wrap;
  margin-top: 70px;
  max-width: 100%;
  height: auto;
}

.main4 h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 30px;
  color: #000;
  font-family: 'Nunito-ExtraBold';
  margin: 0 0 30px 0;
}

.main4 h2 a {
  color: #000;
  text-decoration: none;
}

.z4anh {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.cdm1 {
  height: auto;
  flex: 0 0 24%;
  max-width: 24%;
  border-radius: 5px;
}

.cdm1 a img {
  width: 100%;
  height: 80px;
  border-radius: 5px;
}

/* ------------boo suuw taapj---------- */
.main5 {
  width: 100%;
  height: auto;
  margin: 45px 0;
  padding: 0 15px;
  flex: 0 0 100%;
}

.sli {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
}

.zx {
  display: flex;
  width: 100%;
  height: 100%;
}

.zx1 {
  width: 400px;
  height: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.zx1 img {
  width: 100%;
  height: 100%;
}

.asd {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.asd i {
  color: #000;
  font-size: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.qqq {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.zx:nth-child(2) {
  position: absolute;
  transform: translateX(100%);
  bottom: 0;
}

.zx:nth-child(3) {
  position: absolute;
  transform: translateX(200%);
  bottom: 0;
}



/* ------------------phần cuoois----------------------- */
footer {
  background-color: #ffb0bd;
  color: #fff;
  width: 100%;
  height: 365px;
}

.end {
  padding: 30px 0;
  width: 100%;
  height: 250px;
}

.cont1 {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}

.cont2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  height: 250px;
}

.cont3 {
  font-family: 'Nunito-Bold';
  font-size: 20px;
  flex: 1;
  max-width: 20%;
}

.c1 {
  margin-bottom: 15px;
  display: inline-flex;
  align-items: flex-end;
}

.icon {
  float: left;
  margin-bottom: 35px;
}

.font {
  padding-left: 10px;
  color: #fff;
  float: left;
  font-size: 24px;
}

.big1 {
  width: 107px;
  height: 25px;
  font-size: 20px;
}

.icon2 {
  font-family: 'Nunito-Bold';
  font-size: 20px;
  color: #fff;
}

.icon2 p {
  font-size: 18px;
  margin-bottom: 10px;
}

.cont3_1 {
  font-family: 'Nunito-Bold';
  flex: 1;
  max-width: 20%;
  padding: 0 15px;
}

.t1 {
  font-size: 17px;
  line-height: 1.6;
  font-family: 'Nunito-Bold';
  width: 255px;
  height: 134px;
}

.cont3_2 {
  font-family: 'Nunito-Bold';
  flex: 1;
  max-width: 40%;
  padding: 0 15px;
}

.cont3_3 {
  position: relative;
  flex: 1;
  max-width: 20%;
  padding: 0 15px;
}

.cont3_3_1 {
  display: flex;
  margin-top: 15px;
  width: 150px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.cont3_3_1 a {
  width: 30px;
  height: 30px;
}

.cont3_3_1 img {
  width: 30px;
  height: 30px;
}

.t2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 250px;
  height: 100px;
}

.t2 img {
  width: 100%;
  height: 100%;
}

.end1 {
  padding: 15px 0;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #fff;
  text-align: center;
  width: 100%;
  height: 24px;
  margin: 0;
}





/* CSS cho phân trang */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a,
.pagination li span {
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.pagination li.active a,
.pagination li.active span {
  background-color: #ffb0bd;
  color: #fff;
  border-color: #ffb0bd;
}

.pagination li.disabled span {
  color: #aaa;
}